### Assignment: SQL Notebook for Peer Assignment

In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [37]:
%sql sqlite:///my_data1.db

Traceback (most recent call last):
  File "C:\Users\kimey\AppData\Roaming\Python\Python312\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [38]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [39]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\kimey\AppData\Roaming\Python\Python312\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [40]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "C:\Users\kimey\AppData\Roaming\Python\Python312\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

#### Task1

In [41]:
query = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL;'

cur.execute(query)

unique_launch_sites = cur.fetchall()

for site in unique_launch_sites:
    print(site)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

##### Task2 CCA가 들어간 5개의 레코드 보여주기

In [47]:
query = '''
SELECT * 
FROM SPACEXTBL
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5;
'''

cur.execute(query)

records = cur.fetchall()

for record in records:
    print(record)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

##### Task3 NASA (CRS)에서 발사된 부스터가 수행한 총 payload mass 구하기

In [52]:
query = '''
SELECT SUM("PAYLOAD_MASS__KG_") AS total_payload_mass
FROM SPACEXTBL
WHERE "Customer" = 'NASA (CRS)';
'''

cur.execute(query)

result = cur.fetchone()

if result:
    print(f"Total payload mass carried by boosters launched by NASA (CRS): {result[0]}")
else:
    print("No data found for NASA (CRS).")

Total payload mass carried by boosters launched by NASA (CRS): 45596

#### Task4 부스터 버전이 F9 v1.1에서 수행된 평균 payload mass를 구해라

In [60]:
query = '''
SELECT AVG("PAYLOAD_MASS__KG_") AS average_payload_mass
FROM SPACEXTBL
WHERE "Booster_Version" = 'F9 v1.1';
'''

cur.execute(query)

result = cur.fetchone()

if result and result[0] is not None:
    print(f"Average payload mass carried by booster version F9 v1.1: {result[0]:.2f}")
else:
    print("No data found for booster version F9 v1.1 or the payload mass is not available.")

Average payload mass carried by booster version F9 v1.1: 2928.40

##### List the date when the first succesful landing outcome in ground pad was acheived.

In [61]:
query = '''
SELECT MIN(Date) AS First_Successful_Landing
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (ground pad)';
'''

cur.execute(query)

result = cur.fetchone()

if result and result[0] is not None:
    print(f"Date of the first successful landing on ground pad: {result[0]}")
else:
    print("No successful ground pad landings found.")

Date of the first successful landing on ground pad: 2015-12-22

##### Task 6
List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [63]:
query = '''
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (drone ship)'
AND "PAYLOAD_MASS__KG_" > 4000
AND "PAYLOAD_MASS__KG_" < 6000;
'''

cur.execute(query)

results = cur.fetchall()

if results:
    print("Boosters with successful drone ship landing and payload mass between 4000 and 6000 kg:")
    for row in results:
        print(row[0])
else:
    print("No boosters found with the specified criteria.")

Boosters with successful drone ship landing and payload mass between 4000 and 6000 kg:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

##### Task 7
List the total number of successful and failure mission outcomes

In [64]:
query = '''
SELECT "Mission_Outcome", COUNT(*) AS "Total_Count"
FROM SPACEXTBL
GROUP BY "Mission_Outcome";
'''

cur.execute(query)

results = cur.fetchall()

if results:
    print("Total number of successful and failed mission outcomes:")
    for row in results:
        print(f"Mission Outcome: {row[0]}, Total Count: {row[1]}")
else:
    print("No mission outcomes found in the table.")

Total number of successful and failed mission outcomes:
Mission Outcome: Failure (in flight), Total Count: 1
Mission Outcome: Success, Total Count: 98
Mission Outcome: Success , Total Count: 1
Mission Outcome: Success (payload status unclear), Total Count: 1

##### Task 8
List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [65]:
query = '''
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTBL
);
'''

cur.execute(query)

results = cur.fetchall()

if results:
    print("Booster versions with the maximum payload mass:")
    for row in results:
        print(row[0])
else:
    print("No booster versions found with the maximum payload mass.")

Booster versions with the maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

##### Task 9
List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.
Note: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.

In [67]:
query = '''
SELECT 
    CASE substr("Date", 6, 2)
        WHEN '01' THEN 'January'
        WHEN '02' THEN 'February'
        WHEN '03' THEN 'March'
        WHEN '04' THEN 'April'
        WHEN '05' THEN 'May'
        WHEN '06' THEN 'June'
        WHEN '07' THEN 'July'
        WHEN '08' THEN 'August'
        WHEN '09' THEN 'September'
        WHEN '10' THEN 'October'
        WHEN '11' THEN 'November'
        WHEN '12' THEN 'December'
    END AS Month,
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM SPACEXTBL
WHERE substr("Date", 0, 5) = '2015'
  AND "Landing_Outcome" LIKE '%Failure%'
  AND "Landing_Outcome" LIKE '%drone ship%';
'''

cur.execute(query)

results = cur.fetchall()

if results:
    print("Records for failed drone ship landings in 2015:")
    for row in results:
        print(row)
else:
    print("No records found for the specified criteria.")

Records for failed drone ship landings in 2015:
('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

##### Task 10
Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [68]:
query = '''
SELECT
    "Landing_Outcome",
    COUNT(*) AS Outcome_Count
FROM SPACEXTBL
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;
'''

cur.execute(query)

results = cur.fetchall()

if results:
    print("Count of landing outcomes between 2010-06-04 and 2017-03-20:")
    for row in results:
        print(f"Landing Outcome: {row[0]}, Count: {row[1]}")
else:
    print("No records found for the specified date range.")

Count of landing outcomes between 2010-06-04 and 2017-03-20:
Landing Outcome: No attempt, Count: 10
Landing Outcome: Success (drone ship), Count: 5
Landing Outcome: Failure (drone ship), Count: 5
Landing Outcome: Success (ground pad), Count: 3
Landing Outcome: Controlled (ocean), Count: 3
Landing Outcome: Uncontrolled (ocean), Count: 2
Landing Outcome: Failure (parachute), Count: 2
Landing Outcome: Precluded (drone ship), Count: 1